
.container{
    margin-bottom: 80px;
}

.orange-bg{
    background-color: #FDE9E7;
}

.carousel-item{
    padding: 20px 40px;
}
.price{
    color: #ff136f;
}

.buy-now-button{
    background-image: linear-gradient( to bottom, #ff589b 0%,#ff136f 100%);
    padding: 10px 22px;
    color: white;
    border-radius: 8px;
    border: none;
    font-weight: 600;
}
.cat1, .cat2, .cat3{
    padding: 10px 30px;
    border-radius: 10px;
}
.cat1{
    background-color: orange;
}
.cat2{
    background-color:orchid;

}
.cat3{
    background-color: blue;

}
.categories h1{
    color: white;
}
.categories img{
    width: 100px;

}
.card{
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightgray;
}

.card-footer{
    border: none;
    background: white;
}
#contactus{
    height: 300px;
}
.footer{
    text-align: center;
}